In [11]:
import pandas as pd

### Data Ingestion

In [10]:
!ls data

testdemographics.csv  testprevloans.csv      trainperf.csv
testperf.csv	      traindemographics.csv  trainprevloans.csv

### Demographics data

In [23]:
df_demo = pd.read_csv("data/traindemographics.csv").drop_duplicates()

In [24]:
df_demo.columns

Index(['customerid', 'birthdate', 'bank_account_type', 'longitude_gps',
       'latitude_gps', 'bank_name_clients', 'bank_branch_clients',
       'employment_status_clients', 'level_of_education_clients'],
      dtype='object')

In [25]:
print(df_demo.shape)
print(df_demo.customerid.nunique())

(4334, 9)
4334

### Previous Loans data

In [26]:
df_prev = pd.read_csv("data/trainprevloans.csv").drop_duplicates()

In [17]:
df_prev.columns

Index(['customerid', 'systemloanid', 'loannumber', 'approveddate',
       'creationdate', 'loanamount', 'totaldue', 'termdays', 'closeddate',
       'referredby', 'firstduedate', 'firstrepaiddate'],
      dtype='object')

In [27]:
print(df_prev.shape)
print(df_prev.customerid.nunique())

(18183, 12)
4359

### Performance data

In [28]:
df_perf = pd.read_csv("data/trainperf.csv").drop_duplicates()

In [29]:
df_perf.columns

Index(['customerid', 'systemloanid', 'loannumber', 'approveddate',
       'creationdate', 'loanamount', 'totaldue', 'termdays', 'referredby',
       'good_bad_flag'],
      dtype='object')

In [30]:
print(df_perf.shape)
print(df_perf.customerid.nunique())

(4368, 10)
4368

In [45]:
print(len(list(set(df_demo.customerid) & set(df_perf.customerid))))
print(len(list(set(df_demo.customerid) & set(df_prev.customerid))))
print(len(list(set(df_perf.customerid) & set(df_prev.customerid))))

3269
3264
4359

In [47]:
df_train = df_prev.merge(df_perf, on="customerid", how='inner').merge(
    df_demo, on="customerid", how='inner')

,customerid,systemloanid_x,loannumber_x,approveddate_x,creationdate_x,loanamount_x,totaldue_x,termdays_x,closeddate,referredby_x,...,referredby_y,good_bad_flag,birthdate,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients
0,8a2a81a74ce8c05d014cfb32a0da1049,301682320,2,2016-08-15 18:22:40.000000,2016-08-15 17:22:32.000000,10000.0,13000.0,30,2016-09-01 16:06:48.000000,NaN,...,NaN,Good,1972-01-15 00:00:00.000000,Other,3.432010,6.433055,Diamond Bank,NaN,Permanent,Post-Graduate
1,8a2a81a74ce8c05d014cfb32a0da1049,301883808,9,2017-04-28 18:39:07.000000,2017-04-28 17:38:53.000000,10000.0,13000.0,30,2017-05-28 14:44:49.000000,NaN,...,NaN,Good,1972-01-15 00:00:00.000000,Other,3.432010,6.433055,Diamond Bank,NaN,Permanent,Post-Graduate
2,8a2a81a74ce8c05d014cfb32a0da1049,301831714,8,2017-03-05 10:56:25.000000,2017-03-05 09:56:19.000000,20000.0,23800.0,30,2017-04-26 22:18:56.000000,NaN,...,NaN,Good,1972-01-15 00:00:00.000000,Other,3.432010,6.433055,Diamond Bank,NaN,Permanent,Post-Graduate
3,8a2a81a74ce8c05d014cfb32a0da1049,301923941,10,2017-06-01 13:34:30.000000,2017-06-01 12:34:21.000000,20000.0,24500.0,30,2017-06-25 15:24:06.000000,NaN,...,NaN,Good,1972-01-15 00:00:00.000000,Other,3.432010,6.433055,Diamond Bank,NaN,Permanent,Post-Graduate
4,8a2a81a74ce8c05d014cfb32a0da1049,301954468,11,2017-06-28 10:58:34.000000,2017-06-28 09:58:25.000000,20000.0,24500.0,30,2017-07-25 08:14:36.000000,NaN,...,NaN,Good,1972-01-15 00:00:00.000000,Other,3.432010,6.433055,Diamond Bank,NaN,Permanent,Post-Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13668,8a858ec65cf4605b015cf4ed88665334,301980231,1,2017-07-16 12:01:31.000000,2017-07-16 11:00:13.000000,10000.0,11500.0,15,2017-07-18 16:33:55.000000,NaN,...,NaN,Good,1986-02-20 00:00:00.000000,Savings,5.252457,12.991440,UBA,NaN,Permanent,NaN
13669,8a858eaf5b617c94015b6194555e10a2,301938001,1,2017-06-14 06:50:41.000000,2017-06-14 05:49:34.000000,10000.0,13000.0,30,2017-07-11 14:26:40.000000,8a858ff15b5d3f84015b5d509bd61cae,...,8a858ff15b5d3f84015b5d509bd61cae,Good,1979-04-18 00:00:00.000000,Savings,7.478858,9.055714,FCMB,NaN,Permanent,NaN
13670,8a858f305c8dd672015c92b0711a3333,301941335,1,2017-06-16 18:16:37.000000,2017-06-16 17:15:29.000000,10000.0,11500.0,15,2017-06-26 14:02:03.000000,NaN,...,NaN,Good,1989-11-19 00:00:00.000000,Savings,3.381677,6.455923,Zenith Bank,NaN,Permanent,NaN
13671,8a858fe7568ed7420156920bff565cc7,301955570,1,2017-06-29 01:25:57.000000,2017-06-29 00:25:48.000000,10000.0,11500.0,15,2017-07-05 14:31:17.000000,NaN,...,NaN,Good,1980-11-12 00:00:00.000000,Savings,6.979660,4.879515,Access Bank,NaN,Unemployed,Graduate
13672,8a858f6459b6456d0159b69978f22bed,301796830,1,2017-01-19 14:00:16.000000,2017-01-19 13:00:02.000000,10000.0,11500.0,15,2017-02-15 09:06:34.000000,NaN,...,NaN,Good,1989-10-24 00:00:00.000000,Savings,7.530892,9.042928,EcoBank,NaN,Permanent,NaN

In [52]:
test_demo = pd.read_csv("data/testdemographics.csv").drop_duplicates()
test_prev = pd.read_csv("data/testprevloans.csv").drop_duplicates()
test_perf = pd.read_csv("data/testperf.csv").drop_duplicates()

df_test = test_prev.merge(test_perf, on="customerid", how='inner')

In [53]:
df_test.shape

(5907, 20)

In [ ]:
.merge(
    test_demo, on="customerid", how='inner')

### Exploratory Data Analysis